.flex {
    display: flex;
    flex-wrap: wrap;
}

nav {
    background: linear-gradient(blue, lightblue);
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu > li:last-child {
    margin-left: auto;
}

ul.menu > li > a {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    color: whitesmoke;
}

ul.menu > li > a:hover {
    background-color: darkblue;
}

.product {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
}

.product > div {
    background: linear-gradient(lightblue, blue);
    border-radius: 10px;
    color: white;
    text-align: center;
    position: relative;
    padding: 5px;
}

.product img {
    width: 100%;
    transition: transform .5s;
}

.product img:hover {
    transform: translateY(-8px);
}

.product .price {
    background-color: rgba(224, 96, 10, 0.6);
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 0;
}

.details {
    width: 70%;
    margin: 0 auto;
}

.details img {
    width: 100%;
}

.details > div {
    width: 50%;
}

.thumb > div {
    width: 20%;
}

.red {
    color: red;
}

.info {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
}

.info.promo {
    border-color: red;
}

.buttons > button {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
}


footer {
    background: linear-gradient(blue, lightblue);
    padding: 2rem;
    color: white;
}

.input-form {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid blue;
    box-sizing: border-box;
}

a.close {
    position: absolute;
    top: 5px;
    right: 8px;
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

a.insert {
    margin-top: 5px;
    display: block;
    text-decoration: none;
    color: darkblue;
}

.btn {
    background-color: darkblue;
    color: white;
    border: 1px solid blue;
    padding: 5px;
    margin-top: 5px;
}

.show {
    display: block !important;
}

.title {
    color: gold;
    text-decoration: none;
}

/* CSS TAB */
ul.tab {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

ul.tab > li {
    margin-right: 5px;
}

ul.tab > li > a {
    display: block;
    padding: 1.5rem;
    background-color: antiquewhite;
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

.tab-content {
    background-color: antiquewhite;
}

.tab-content h1 {
    margin: 0;
    padding: 10px;
}

.active {
    box-shadow: 3px 2px gold;
}

.slider {
    position: relative;
}

.slider > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.slider img {
    width: 100%;
}